# Machine Learning Using Kaggle's Titanic Dataset (WIP)

In [29]:
#Import required packages
import pandas as pd
from pandas import Series,DataFrame


#Read in file
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
test_df['Survived']=0

We combine the training and test set to do some feature engineering

In [30]:
combined = train_df.append(test_df)

In [185]:
import numpy as np

In [31]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       1309 non-null int64
Ticket         1309 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 132.9+ KB

In [50]:
from sklearn.linear_model import LinearRegression

In [55]:
combined[combined['Age'].isnull()]

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0,330877
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1,244373
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1,2649
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0,2631
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1,330959
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0,349216
31,NaN,B78,C,146.5208,"Spencer, Mrs. William Augustus (Marie Eugenie)",0,32,1,female,1,1,PC 17569
32,NaN,NaN,Q,7.7500,"Glynn, Miss. Mary Agatha",0,33,3,female,0,1,335677
36,NaN,NaN,C,7.2292,"Mamee, Mr. Hanna",0,37,3,male,0,1,2677
42,NaN,NaN,C,7.8958,"Kraeff, Mr. Theodor",0,43,3,male,0,0,349253
45,NaN,NaN,S,8.0500,"Rogers, Mr. William John",0,46,3,male,0,0,S.C./A.4. 23567
46,NaN,NaN,Q,15.5000,"Lennon, Mr. Denis",0,47,3,male,1,0,370371
47,NaN,NaN,Q,7.7500,"O'Driscoll, Miss. Bridget",0,48,3,female,0,1,14311
48,NaN,NaN,C,21.6792,"Samaan, Mr. Youssef",0,49,3,male,2,0,2662
55,NaN,C52,S,35.5000,"Woolner, Mr. Hugh",0,56,1,male,0,1,19947
64,NaN,NaN,C,27.7208,"Stewart, Mr. Albert A",0,65,1,male,0,0,PC 17605
65,NaN,NaN,C,15.2458,"Moubarek, Master. Gerios",1,66,3,male,1,1,2661
76,NaN,NaN,S,7.8958,"Staneff, Mr. Ivan",0,77,3,male,0,0,349208
77,NaN,NaN,S,8.0500,"Moutal, Mr. Rahamin Haim",0,78,3,male,0,0,374746
82,NaN,NaN,Q,7.7875,"McDermott, Miss. Brigdet Delia",0,83,3,female,0,1,330932
87,NaN,NaN,S,8.0500,"Slocovski, Mr. Selman Francis",0,88,3,male,0,0,SOTON/OQ 392086
95,NaN,NaN,S,8.0500,"Shorney, Mr. Charles Joseph",0,96,3,male,0,0,374910
101,NaN,NaN,S,7.8958,"Petroff, Mr. Pastcho (""Pentcho"")",0,102,3,male,0,0,349215
107,NaN,NaN,S,7.7750,"Moss, Mr. Albert Johan",0,108,3,male,0,1,312991
109,NaN,NaN,Q,24.1500,"Moran, Miss. Bertha",0,110,3,female,1,1,371110
121,NaN,NaN,S,8.0500,"Moore, Mr. Leonard Charles",0,122,3,male,0,0,A4. 54510
126,NaN,NaN,Q,7.7500,"McMahon, Mr. Martin",0,127,3,male,0,0,370372
128,NaN,F E69,C,22.3583,"Peter, Miss. Anna",1,129,3,female,1,1,2668
140,NaN,NaN,C,15.2458,"Boulos, Mrs. Joseph (Sultana)",2,141,3,female,0,0,2678
154,NaN,NaN,S,7.3125,"Olsen, Mr. Ole Martin",0,155,3,male,0,0,Fa 265302
...,...,...,...,...,...,...,...,...,...,...,...,...
268,NaN,NaN,S,8.0500,"Howard, Miss. May Elizabeth",0,1160,3,female,0,0,A. 2. 39186
271,NaN,NaN,Q,7.7500,"Fox, Mr. Patrick",0,1163,3,male,0,0,368573
273,NaN,NaN,Q,15.5000,"Lennon, Miss. Mary",0,1165,3,female,1,0,370371
274,NaN,NaN,C,7.2250,"Saade, Mr. Jean Nassr",0,1166,3,male,0,0,2676
282,NaN,NaN,Q,7.7500,"Fleming, Miss. Honora",0,1174,3,female,0,0,364859
286,NaN,NaN,S,7.2500,"Franklin, Mr. Charles (Charles Fardon)",0,1178,3,male,0,0,SOTON/O.Q. 3101314
288,NaN,F E46,C,7.2292,"Mardirosian, Mr. Sarkis",0,1180,3,male,0,0,2655
289,NaN,NaN,S,8.0500,"Ford, Mr. Arthur",0,1181,3,male,0,0,A/5 1478
290,NaN,NaN,S,39.6000,"Rheims, Mr. George Alexander Lucien",0,1182,1,male,0,0,PC 17607
292,NaN,NaN,C,7.2292,"Nasr, Mr. Mustafa",0,1184,3,male,0,0,2652
297,NaN,NaN,C,21.6792,"Samaan, Mr. Hanna",0,1189,3,male,2,0,2662
301,NaN,D,C,15.0458,"Malachard, Mr. Noel",0,1193,2,male,0,0,237735
304,NaN,NaN,Q,7.7500,"McCarthy, Miss. Catherine Katie""""",0,1196,3,female,0,0,383123
312,NaN,NaN,S,7.5750,"Sadowitz, Mr. Harry",0,1204,3,male,0,0,LP 1588
332,NaN,NaN,C,7.2250,"Thomas, Mr. Tannous",0,1224,3,male,0,0,2684
339,NaN,NaN,C,7.2292,"Betros, Master. Seman",0,1231,3,male,0,0,2622
342,NaN,NaN,S,69.5500,"Sage, Mr. John George",9,1234,3,male,1,0,CA. 2343
344,NaN,NaN,S,14.5000,"van Billiard, Master. James William",1,1236,3,male,1,0,A/5. 851
357,NaN,NaN,S,7.8792,"Lockyer, Mr. Edward",0,1249,3,male,0,0,1222
358,NaN,NaN,Q,7.7500,"O'Keefe, Mr. Patrick",0,1250,3,male,0,0,368402
365,NaN,NaN,S,69.5500,"Sage, Mrs. John (Annie Bullen)",9,1257,3,female,1,0,CA. 2343
366,NaN,NaN,C,14.4583,"Caram, Mr. Joseph",0,1258,3,male,1,0,2689
380,NaN,NaN,Q,7.7500,"O'Connor, Mr. Patrick",0,1272,3,male,0,0,366713
382,NaN,NaN,S,14.5000,"Risien, Mrs. Samuel (Emma)",0,1274,3,female,0,0,364498
384,NaN,NaN,S,12.8750,"Wheeler, Mr. Edwin Frederick""""",0,1276,2,male,0,0,SC/PARIS 2159
408,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,0,334915
410,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,0,365237
413,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,0,A.5. 3236
416,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,0,359309
417,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,0,2668

In [68]:
combined[combined['Age']].mean()

29.881137667304014

In [78]:
combined[combined.Sex=='male'].mean()

Age             30.585228
Fare            26.154601
Parch            0.247924
PassengerId    658.766311
Pclass           2.372479
SibSp            0.413998
Survived         0.129300
dtype: float64

In [ ]:
The mean age over males is approx 40

In [79]:
combined[combined.Sex=='female'].mean()

Age             28.687088
Fare            46.198097
Parch            0.633047
PassengerId    648.186695
Pclass           2.154506
SibSp            0.652361
Survived         0.500000
dtype: float64

In [ ]:
The mean age of female is approx 29

In [97]:
[combined[combined.Sex=='female'].Age].isnull()

1      38.00
2      26.00
3      35.00
8      27.00
9      14.00
10      4.00
11     58.00
14     14.00
15     55.00
18     31.00
19       NaN
22     15.00
24      8.00
25     38.00
28       NaN
31       NaN
32       NaN
38     18.00
39     14.00
40     40.00
41     27.00
43      3.00
44     19.00
47       NaN
49     18.00
52     49.00
53     29.00
56     21.00
58      5.00
61     38.00
       ...
347    38.00
349    31.00
350    45.00
354     0.17
356    59.00
359    30.00
361    24.00
362    31.00
364    25.00
365      NaN
367    22.00
368    45.00
371    31.00
374    54.00
375    45.00
376    22.00
382      NaN
383    19.00
385    24.00
391    51.00
395    18.00
397    48.00
400    30.00
402    22.00
408      NaN
409     3.00
410      NaN
411    37.00
412    28.00
414    39.00
Name: Age, dtype: float64

In [112]:
combined['Age'] = combined['Age'].interpolate()

In [113]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
Age            1309 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       1309 non-null int64
Ticket         1309 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 132.9+ KB

In [117]:
del combined['Cabin']
del combined['Embarked']
del combined['Fare']

# Feature Engineering a new predictor "Title"

Now that we took care of the NA's, we'll be extracting titles from the names of the passengers
to see if any of them are women/men of power (and most likely to get preferential treatment)

In [125]:
def get_title(name):
    if '.' in name:
        return name.split(',')[1].split('.')[0].strip()
    else:
        return 'Unknown'

In [126]:
titles = sorted(set([x for x in combined.Name.map(lambda x: get_title(x))]))

In [127]:
print('Different titles found on the dataset:')
print(len(titles), ':', titles)
print()

Different titles found on the dataset:
(18, ':', ['Capt', 'Col', 'Don', 'Dona', 'Dr', 'Jonkheer', 'Lady', 'Major', 'Master', 'Miss', 'Mlle', 'Mme', 'Mr', 'Mrs', 'Ms', 'Rev', 'Sir', 'the Countess'])
()

In [130]:
def replace_titles(x):
    title = x['Title']
    if title in ['Capt', 'Col', 'Don', 'Jonkheer', 'Major', 'Rev', 'Sir']:
        return 'Mr'
    elif title in ['the Countess', 'Mme', 'Lady']:
        return 'Mrs'
    elif title in ['Mlle', 'Ms']:
        return 'Miss'
    elif title =='Dr':
        if x['Sex']=='male':
            return 'Mr'
        else:
            return 'Mrs'
    else:
        return title

In [131]:
combined['Title'] = combined['Name'].map(lambda x: get_title(x))

In [132]:
combined['Title'] = combined.apply(replace_titles, axis=1)

In [133]:
print(combined.Title.value_counts())

Mr        782
Miss      264
Mrs       201
Master     61
Dona        1
Name: Title, dtype: int64

In [150]:
from sklearn import preprocessing

In [151]:
le_sex = preprocessing.LabelEncoder()

In [152]:
combined.Sex = le_sex.fit_transform(combined.Sex)

In [153]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 10 columns):
Age            1309 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null int64
SibSp          1309 non-null int64
Survived       1309 non-null int64
Ticket         1309 non-null object
Title          1309 non-null object
dtypes: float64(1), int64(6), object(3)
memory usage: 112.5+ KB

In [154]:
dummies = pd.get_dummies(combined['Title'])

In [156]:
newcombined = pd.concat([combined, dummies], axis=1)

In [158]:
newcombined.head()

,Age,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title,Dona,Master,Miss,Mr,Mrs
0,22,"Braund, Mr. Owen Harris",0,1,3,1,1,0,A/5 21171,Mr,0,0,0,1,0
1,38,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,0,1,1,PC 17599,Mrs,0,0,0,0,1
2,26,"Heikkinen, Miss. Laina",0,3,3,0,0,1,STON/O2. 3101282,Miss,0,0,1,0,0
3,35,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,0,1,1,113803,Mrs,0,0,0,0,1
4,35,"Allen, Mr. William Henry",0,5,3,1,0,0,373450,Mr,0,0,0,1,0

In [159]:
del combined['Name']
del combined['Ticket']
del combined['Title']

We removed any categorical variables and strings and added dummy variables for the title and made sex an integer. Now we have the titles of passengers that we can add to our model, we can proceed to split the data set again

In [160]:
train_df = combined[1:891]
test_df= combined[892:1309]

In [161]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417 entries, 1 to 417
Data columns (total 7 columns):
Age            417 non-null float64
Parch          417 non-null int64
PassengerId    417 non-null int64
Pclass         417 non-null int64
Sex            417 non-null int64
SibSp          417 non-null int64
Survived       417 non-null int64
dtypes: float64(1), int64(6)
memory usage: 26.1 KB

In [162]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 890 entries, 1 to 890
Data columns (total 7 columns):
Age            890 non-null float64
Parch          890 non-null int64
PassengerId    890 non-null int64
Pclass         890 non-null int64
Sex            890 non-null int64
SibSp          890 non-null int64
Survived       890 non-null int64
dtypes: float64(1), int64(6)
memory usage: 55.6 KB

Lets start with a Random Forest Ensemble algorithm with 100 trees

In [163]:
from sklearn.ensemble import RandomForestClassifier

In [164]:
model = RandomForestClassifier(n_estimators = 100)

We convert the training data from a Pandas dataframe to a numpy numerical array

In [182]:
train_data = train_df.values
del test_df['Survived']
test_data = test_df.values

Now we train the model with our first input being columns 0, up to 5 for our features
and for our second parameter we input the survival data

In [179]:
model = model.fit(train_data[0:,:5], train_data[0:,6])

In [180]:
model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [183]:
output = model.predict(test_data[:,1:])

In [186]:
result = np.c_[test_data[:,0].astype(int), output.astype(int)]
df_result = pd.DataFrame(result[:,0:2], columns=['PassengerId', 'Survived'])

In [190]:
df_result.tail(10)

     PassengerId  Survived
407           26         1
408            3         1
409           20         1
410           37         1
411           28         1
412           33         1
413           39         1
414           38         1
415           38         1
416           38         1

In [195]:
df_result

     PassengerId  Survived
0             47         1
1             62         1
2             27         1
3             22         1
4             14         1
5             30         1
6             26         1
7             18         1
8             21         1
9             33         1
10            46         1
11            23         1
12            63         1
13            47         1
14            24         1
15            35         1
16            21         1
17            27         1
18            45         1
19            55         1
20             9         1
21            15         1
22            21         1
23            48         1
24            50         1
25            22         1
26            22         1
27            41         1
28            45         1
29            50         1
..           ...       ...
387           21         1
388            6         1
389           23         1
390           51         1
391           13         0
392           47         1
393           29         1
394           18         1
395           24         1
396           48         1
397           22         1
398           31         1
399           30         1
400           38         1
401           22         1
402           17         1
403           43         1
404           20         1
405           23         1
406           50         1
407           26         1
408            3         1
409           20         1
410           37         1
411           28         1
412           33         1
413           39         1
414           38         1
415           38         1
416           38         1

[417 rows x 2 columns]

In [196]:
sns.factorplot('Survived', data=df_result, kind='count')